@page "/snake"

@rendermode InteractiveServer

@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using CS3500.Networking
@using Microsoft.Extensions.Logging.Abstractions
@using System.Text.Json
@using CS3500.Snake.Models

@inject IJSRuntime JsRuntime;
@inject ILogger<Program> Logger;

@namespace CS3500.Snake.Client.Pages.SnakeGame 

<PageTitle>Chat Client</PageTitle>

<script src="_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.min.js"></script>

<h1>Chat Client</h1>

<div id="ConnectionInputs">
    <div class="input-row">
        <label for="name"> Your Name: </label>
        <input id="name" disabled="@network.IsConnected" type="text" @bind="userName" />
    </div>

    <div class="input-row">
        <label for="url"> Server Address: </label>
        <input id="url" disabled="@network.IsConnected" type="text" @bind="serverNameOrAddress" />
        <label for="url"> Port: </label>
        <input id="port" disabled="@network.IsConnected" type="number" @bind="serverPort" class="port" />
        @if ( network.IsConnected )
        {
            <button class="btn btn-primary" @onclick="DisconnectFromServer">Disconnect</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="Connect">Connect</button>
        }
        <div class="@spinner"></div>
    </div>
    @if(!string.IsNullOrEmpty( noServerMessage ) )
    {
        <p> @noServerMessage</p>
    }
    @{
        var disconnected = !network.IsConnected;
        var grayedOut = disconnected ? "grayedOut" : string.Empty;
    }
    <div id="myCanvas"
         @onkeydown = "HandleKeyPress">
    <BECanvas Width="CanvasWidth" Height="CanvasHeight" @ref="canvasReference"/>
    </div>
</div>

@code
{
    // Drawing/Canvas variables here.
    private BECanvasComponent canvasReference;
    private Canvas2DContext context = null!;
    private IJSObjectReference _jsModule = null!;

    /// <summary>
    ///     Default server name
    /// </summary>
    private string serverNameOrAddress = "localhost";

    /// <summary>
    ///     Default server port
    /// </summary>
    private int serverPort = 11000;

    /// <summary>
    ///     The name you want the server to "call" you by.
    /// </summary>
    private string userName = "Your Name Here";

    /// <summary>
    ///     The message if there is no server running at the port.
    /// </summary>
    private string noServerMessage = string.Empty;

    /// <summary>
    ///     Give visual feedback that we are connecting to the server. Empty --> no feedback.
    ///     "spinner" --> show spinner.
    /// </summary>
    private string spinner = string.Empty;

    /// <summary>
    ///     The NetworkConnection object representing a connection with the server.
    /// </summary>
    /// <remarks>
    ///     The ! operator is used here to indicate to the compiler that the developer
    ///     knows that this variable will be initialized before it is used (and thus
    ///     should not be flagged as an error). See the OnInitialized method below
    ///     (which is called by the Blazor framework) when the html page is loaded.
    /// </remarks>
    private NetworkConnection network = null!;

    private readonly string UpCommand = JsonSerializer.Serialize(new ControlCommand("up"));
    private readonly string DownCommand = JsonSerializer.Serialize(new ControlCommand("down"));
    private readonly string RightCommand = JsonSerializer.Serialize(new ControlCommand("right"));
    private readonly string LeftCommand = JsonSerializer.Serialize(new ControlCommand("left"));
    private readonly string NoneCommand = JsonSerializer.Serialize(new ControlCommand("none"));

    private readonly int CanvasWidth = 2000;
    private readonly int CanvasHeight = 2000;


    /// <summary>
    ///     Create a default network object
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        network = new NetworkConnection( Logger );
        Logger.LogInformation( "Initializing..." );
    }

    /// <summary>
    ///   The first time we start up, we load our JavaScript and start the animation
    ///   process.
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        if ( firstRender )
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>( "import", "./Pages/SnakeGame.razor.js" );
            context = await canvasReference.CreateCanvas2DAsync();

            await _jsModule.InvokeVoidAsync( "initJS", DotNetObjectReference.Create( this ) );
            await _jsModule.InvokeVoidAsync( "ToggleAnimation", true );
        }
    }

    [JSInvokable]
    private void HandleKeyPress(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowUp":
            case "W":
                network.SendLine(UpCommand);
                break;

            case "ArrowRight":
            case "D":
                network.SendLine(RightCommand);
                break;

            case "ArrowDown":
            case "S":
                network.SendLine(DownCommand);
                break;

            case "ArrowLeft":
            case "A":
                network.SendLine(LeftCommand);
                break;
                //TODO is default necessary?
        }
    }

    [JSInvokable]
    public async Task Draw()
    {
        try
        {
            frameNumber++;
            // Group all the draw commands into one large single draw.
            await context.BeginBatchAsync();

            //int viewWidth = CanvasWidth;
            //int viewHeight = CanvasHeight;

            // Draw Background.
            await context.SetFillStyleAsync( "darkblue" );
            await context.FillRectAsync( 0, 0, CanvasWidth, CanvasHeight);

            // Draw "World Model" (i.e., rectangles)
            IEnumerable<Snake> currentSnakes;
            IEnumerable<PowerUp> currentPowerUps;
            IEnumerable<Wall> currentWalls;
            lock (worldModel)
            {
                currentSnakes = worldModel.Snakes.Values;
                currentPowerUps = worldModel.PowerUps.Values;
                currentWalls = worldModel.Walls.Values;
            }

            await context.SetFillStyleAsync( "yellow" );
            foreach (var snake in currentSnakes)
            {
                //TODO make art style better
                await context.Draw(snake);
                await context.FillTextAsync(snake.Name, snake.Head.X + 10, snake.Head.Y - 10);
                if (snake.Died)
                {
                    await context.BeginPathAsync();
                    await context.SetFillStyleAsync("red");
                    await context.ArcAsync(snake.Head.X, snake.Head.Y, 20, 0, 0);
                    await context.FillAsync();
                }
            }

            await context.SetFillStyleAsync( "green" );
            foreach (var powerUp in currentPowerUps)
            {
                await context.SetFillStyleAsync("yellow");
                await context.ArcAsync(powerUp.Position.X, powerUp.Position.Y, 8, 0, 360);
                await context.FillAsync();

            }

            await context.SetFillStyleAsync( "red" );
            foreach (var wall in currentWalls)
            {
                await context.FillRectAsync(wall.Start.X, wall.Start.Y, 50, 50);
            }

            // Draw Heads Up Display - do this last so it is on top
            await context.SetFontAsync( "30px Arial" );
            await context.SetFillStyleAsync( "white" );
            await context.FillTextAsync( $"FPS: {AvgFps:F1}", 400, 30 );

            await context.EndBatchAsync();
        }
        catch ( Exception e )
        {
            //TODO add logging
        }
    }
}


